<section id="checkout-content">
  <div class="container py-5">
    <div class="row justify-content-center" style="align-items: flex-end;">
      <div class="col-md-6">

        <form id="payment-form" method="post" action="/personal/placeorder" class="mt-3 card" >

          <div class="card-header">
            <h2>Checkout Form</h2>
          </div>

          <div class="card-body">

            <div class="form-row" v-if="showError">
              <div class="col-md-12">
                <div class="alert alert-danger" role="alert" >
                  {{ errorMessage }}
                </div>
              </div>
            </div>
                            
            <div class="row g-3">

              <div class="col-md-6">
                <div class="">
                  <label for="email">Customer Email</label>
                </div>
                
                <div class="">
                  <input type="text" id="email" name="email" v-model.lazy="customerEmail" @change="checkEmail" class="form-control ccInput" placeholder="Email Address">
                </div>
              </div>

              <div class="col-md-6">
                <div class="">
                  <label for="selectedZone">Time Zone</label>
                </div>

                <div class="">
                  <select class="form-control ccInput" name="selectedZone" v-model="selectedZone">
                    <option value="" disabled>Select TimeZone</option>
                    <% for(let i=0; i < timeZone.length; i++) { %>
                      <option value="<%= timeZone[i].join(',') %>"><%= timeZone[i].join(', ') %></option>
                    <% } %>
                  </select>
                </div>

              </div>

            </div>

            <div class="row g-3">
              <div class="col-md-12">

                <ul class="list-schedule">
                  <li v-for="(schedule, ndx) in schedules">
                    <div class="row g-3">

                      <div class="col-auto">
                        <div class="form-group">
                          <input type="button" class="btn btn-info" @click="removeSchedule(ndx)" value="-">
                        </div>
                      </div>

                      <div class="col-md-5">
                        <div class="form-group">
                          <input type="date" name="date" min="2022-07-22" max="2030-12-31" class="form-control ccInput" v-model="schedules[ndx].day">
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-group">
                          <select class="form-control ccInput" name="time" v-model="schedules[ndx].time">
                            <option value="" disabled>Select TimeZone</option>
                            <option value="8:00AM - 9:00AM">8:00AM - 9:00AM</option>
                            <option value="9:00AM - 10:00AM">9:00AM - 10:00AM</option>
                            <option value="10:00AM - 11:00AM">10:00AM - 11:00AM</option>
                            <option value="11:00AM - 12:00NN">11:00AM - 12:00NN</option>
                            <option value="" disabled>BREAK</option>
                            <option value="11:00AM - 12:00NN">1:00PM - 2:00PM</option>
                            <option value="11:00AM - 12:00NN">2:00PM - 3:00PM</option>
                            <option value="11:00AM - 12:00NN">3:00PM - 4:00PM</option>
                            <option value="11:00AM - 12:00NN">4:00PM - 5:00PM</option>
                          </select>

                        </div>
                      </div>

                    </div>
                  </li>
                </ul>
                
             
              </div>
            </div>

            <div class="row g-3">
              <div class="col-md-12">
                
                <div class="form-group text-right">
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="addSchedule">Add Class Schedule +</button>
                </div>
              </div>
            </div>

            <div class="form-group text-right">
              <hr>
            </div>
            <div class="form-group text-right">
              <button type="button" @click="submitForm" class="btn btn-danger btn-lg">Place Order $299</button>
            </div>
          

          </div>

          

        </form>

        
    
      </div>

    </div>
  </div>

</section>


<script src="/personal/js/vue-2.js"></script>
<script>
  var vueApp = new Vue({
    el: "#checkout-content",
    data: {
      customerEmail: '<%= custEmail %>',
      customerData: null,
      preferedContact: '',
      selectedZone: '',
      timeSelected: '',
      timeTbl:[
          false, false, false, false, false,
          false, false, false, false, false,
          false, false, false, false, false,
          false, false, false, false, false,
          false, false, false, false, false
      ],
      showError: false,
      errorMessage: '',
      schedules: [
        {
          day: '',
          time: ''
        }
      ]
    },
    methods: {

      submitForm: async function() {
        this.errorMessage = this.validateForm
        if (!this.errorMessage) {
          this.showError = false;
          document.getElementById("payment-form").submit();
        } else {
          this.showError = true;
        }

      },

      checkEmail: async function() {

        console.log("checking", this.customerEmail);
        if (this.customerEmail) {

          let customerInfo = await fetch('http://localhost:9090/personal/api/v1/checkEmail/'+this.customerEmail)
          .then(response => response.json());

          this.customerData = customerInfo

          console.log(this.customerData);

        }

      },

      updateTimeTbl : function(ndx) {
        this.timeTbl = [
          false, false, false, false, false,
          false, false, false, false, false,
          false, false, false, false, false,
          false, false, false, false, false,
          false, false, false, false, false
        ]

        this.timeTbl[ndx] = true;
      },

      addSchedule : function() {
        this.schedules.push({
          day: '',
          time: ''
        })
      },

      removeSchedule : function(ndx) {
        this.schedules.splice(ndx,1)
      },

    },
    computed: {

      validateForm : function() {

        let message = ""
        if (!this.customerEmail) {
          message = "Please enter email address"
        } else if (!this.customerData || !this.customerData.status) {
          message = "Sorry, We could not find any active ChinesePod subscription"
        } else if (!this.selectedZone) {
          message = "Please select TIMEZONE"
        } else if (this.schedules.length <= 0 || !this.schedules[0].day || !this.schedules[0].time) {
          message = "Please select Time Schedule"
        }

        return message;
      }
    }

  })

  vueApp.selectedZone = "<%= timeZone[clientTimezone].join(',') %>"
  vueApp.checkEmail()
</script>