<section id="checkout-content">
  <div class="container">
    <div class="row justify-content-center" style="align-items: flex-end;">
      <div class="col-md-8">
        <div class="form-row mt-3 mb-3">
          
          <h2>ChinesePod Live Classes Package</h2>
          <h3>10 sessions of one hour each for only <span class="price">$299</span></h3>

          <h5 class="mt-5">Limited offer:</h5>
          <p>Our new offering of one-on-one classes for a selected group of premium users only. If you have received a forwarding link from a different ChinesePod user, we can certainly consider including you in our program if you qualify.</p>
        </div>
      </div>

    </div>

  </div>

</section>
