<!DOCTYPE html>
<html lang="en">
    <head>


        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" >
    
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&amp;display=swap" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <!-- Page Styles -->
        <link href="/personal/styles/cprecap-styles.css" rel="stylesheet">
        <link href="/personal/styles/style.css" rel="stylesheet">
    
        <title>ChinesePod - Personal</title>
        
      </head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light cprecap-navbar">
        <a class="navbar-brand" href="/">
          <img src="https://www.chinesepod.com/home/img/logo.a070ebf6.png" alt="ChinesePod">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
            <ul class="navbar-nav navbar-c2 mt-2">
              
              <li class="nav-item">
                <a class="nav-link" href="/beta/our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/beta/become-a-beta-tester">Become a Beta Tester</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/beta/forums">ChinesePod Beta Program</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/beta/about">About</a>
              </li>


            </ul>

        </div> -->
    </nav>

<main>

    <%- body %>

</main>

<footer class="cprecap-footer mt-5">
    <div class="container-fluid">

        <div class="row copyright mb-3">
          <div class="col-12 col-sm-4">
             <p class="pl-3 pt-2">© 2022 ChinesePod LLC</p>
          </div>
          <div class="col-12 col-sm-8">
             <ul class="nav justify-content-sm-end">
                 <li class="nav-item">
                      <a class="nav-link" href="https://chinesepod.com/pricing/">Pricing</a>
                 </li>
                 <li class="nav-item">
                      <a class="nav-link" href="https://www.chinesepod.com/corporate">Corporate</a>
                 </li>
                 <li class="nav-item">
                      <a class="nav-link" href="https://www.chinesepod.com/why-choose-us">About Us</a>
                 </li>
                 <li class="nav-item">
                      <a class="nav-link" href="https://www.chinesepod.com/blog">Blog</a>
                 </li>
             </ul>
          </div>
        </div>
      </div>
  </footer>
  

  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready( function () {
        $('#dataTBL').DataTable();
    } );
  </script> -->


</body>
</html>
